In [4]:
%matplotlib inline

import malariagen_data
import allel
import numpy as np
import pandas as pd
import dask
from dask.diagnostics import ProgressBar
import zarr
from pathlib import Path
import scipy
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [5]:
%run tools.py

### Karyotyping the GAARDIAN data

In [6]:
ag3 = malariagen_data.Ag3("gs://vo_agam_release/", pre=True)

In [7]:
df_sample_sets = ag3.sample_sets(release="v3.4")
df_sample_sets

                         sample_set  sample_count release
0  1191-VO-MULTI-OLOUGHLIN-VMF00106           237    v3.4
1  1191-VO-MULTI-OLOUGHLIN-VMF00140          1095    v3.4
2        1244-VO-GH-YAWSON-VMF00149           485    v3.4

In [8]:
my_sample_set = '1244-VO-GH-YAWSON-VMF00149'
metadata = ag3.sample_metadata(sample_sets=my_sample_set)

In [9]:
metadata['location2'] = metadata['location'].str.split(".").str.get(0)

## compkaryo

In [34]:
invDict = {}

for inversion in inversionDict.keys():
    chrom = inversionDict[inversion][0]

    snps = allel.GenotypeDaskArray(ag3.snp_genotypes(contig=chrom, sample_sets=my_sample_set))
    pos = ag3.snp_sites(contig=chrom)
    pos = allel.SortedIndex(pos[0])

    callset = {'geno':snps, 'pos':pos, 'chrom':chrom}
    print(f"--- Running CompKaryo {inversion}--- ")
    av_gts, total_sites, num_0, num_1, num_2 = compkaryo(callset, inversion)
    total_sites = total_sites.compute()
    invDict[inversion] = pd.DataFrame({'partner_sample_id': metadata['sample_id'], 
                           'inversion':inversion, 
                           'mean_genotype': av_gts, 
                           'total_snp_tags':total_sites})

--- Running CompKaryo 2La---
--- Running CompKaryo 2Rj---
--- Running CompKaryo 2Rb---
--- Running CompKaryo 2Rc_col---
--- Running CompKaryo 2Rc_gam---
--- Running CompKaryo 2Rd---
--- Running CompKaryo 2Ru---

In [35]:
df = metadata[['sample_id', 'partner_sample_id', 'location2', 'species_gambiae_coluzzii']]

In [ ]:
gaardian_karyotypes = pd.concat(invDict.values()).rename(columns={'partner_sample_id':'sample_id'})
gaardian_karyotypes = gaardian_karyotypes.merge(df).set_index('partner_sample_id').reset_index().drop(columns='sample_id')
gaardian_karyotypes.to_csv("gaardian_karyotypes.tsv", sep="\t")

### Load karyo data

In [13]:
gaardian_karyotypes = pd.read_csv("gaardian_karyotypes.tsv", sep="\t", index_col=0)

In [14]:
gaardian_karyotypes

,partner_sample_id,inversion,mean_genotype,total_snp_tags,location2,species_gambiae_coluzzii
0,WA-2001,2La,0.000000,209,Adumanu,gambiae
1,WA-2001,2Rj,0.060606,99,Adumanu,gambiae
2,WA-2001,2Rb,0.123209,349,Adumanu,gambiae
3,WA-2001,2Rc_col,0.438596,57,Adumanu,gambiae
4,WA-2001,2Rc_gam,0.061224,49,Adumanu,gambiae
...,...,...,...,...,...,...
3390,WA-2500,2Rb,0.086207,348,Domenase,coluzzii
3391,WA-2500,2Rc_col,0.122807,57,Domenase,coluzzii
3392,WA-2500,2Rc_gam,0.020408,49,Domenase,coluzzii
3393,WA-2500,2Rd,0.081633,147,Domenase,coluzzii
3394,WA-2500,2Ru,0.033898,177,Domenase,coluzzii

In [19]:
karyo = gaardian_karyotypes.loc[(gaardian_karyotypes['species_gambiae_coluzzii'] == 'coluzzii') & (gaardian_karyotypes['inversion'] == '2La')]
karyo

,partner_sample_id,inversion,mean_genotype,total_snp_tags,location2,species_gambiae_coluzzii
7,WA-2002,2La,0.000000,209,Adumanu,coluzzii
14,WA-2003,2La,0.000000,209,Kente,coluzzii
21,WA-2004,2La,1.000000,209,Kente,coluzzii
28,WA-2005,2La,1.000000,209,Kente,coluzzii
35,WA-2006,2La,0.009569,209,Odumto,coluzzii
...,...,...,...,...,...,...
3360,WA-2496,2La,2.000000,209,Domenase,coluzzii
3367,WA-2497,2La,0.004785,209,Domenase,coluzzii
3374,WA-2498,2La,0.000000,209,Domenase,coluzzii
3381,WA-2499,2La,0.995192,208,Domenase,coluzzii
3388,WA-2500,2La,2.000000,209,Domenase,coluzzii

In [20]:
karyo['karyotype']  = karyo.mean_genotype.round()

/tmp/ipykernel_70/2162325607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  karyo['karyotype']  = karyo.mean_genotype.round()

In [23]:
karyo.groupby(['inversion', 'location2']).karyotype.value_counts()

inversion  location2      karyotype
2La        Adansi Apagya  0.0           9
                          1.0           5
                          2.0           1
           Adansi-Krom    0.0           4
                          1.0           2
           Adumanu        0.0           4
                          1.0           1
           Anhwiaso       0.0           2
           Ankaako        0.0           5
                          1.0           5
                          2.0           2
           Annorkrom      1.0          25
                          0.0          17
                          2.0           4
           Anwona         1.0           3
                          0.0           2
           Bogyawe        0.0           2
                          1.0           1
           Domenase       1.0          29
                          0.0          15
                          2.0          13
           Dompoase       0.0           1
           Fumso          0.0           1
           Jacobu         0.0           1
                          1.0           1
           Kente          1.0          13
                          0.0           9
                          2.0           1
           Kokotro        1.0          12
                          0.0           9
                          2.0           3
           Koniyaw        0.0          18
                          1.0          12
                          2.0           1
           Mprakyire      1.0           4
                          2.0           3
                          0.0           2
           New Edubiase   1.0           9
                          0.0           6
           Nkotumso       1.0          15
                          0.0          12
                          2.0           3
           Odumto         1.0          14
                          0.0          13
                          2.0           5
           Pokukrom       1.0          22
                          0.0          11
                          2.0           4
           Prisintease    0.0          13
                          1.0           8
                          2.0           3
           Subin Camp     2.0           1
           Wamase         0.0           7
                          1.0           7
                          2.0           2
           Watreso        0.0          11
                          1.0           6
                          2.0           2
           Yadome         0.0           3
                          1.0           3
Name: karyotype, dtype: int64